{
    "presets": [
        [ "env", {
          "targets": {
              "browsers": ["ie >=9"]
          },
          "modules": false,
          "useBuiltIns": true,
          "debug": true
        }]
    ]
}